<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw1hSNtfgI9e_AnSuZIO9BfbfupFE5JWg</string>
	<key>GCM_SENDER_ID</key>
	<string>897448131657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skillsPe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>skillspe-d376e</string>
	<key>STORAGE_BUCKET</key>
	<string>skillspe-d376e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897448131657:ios:a4d890676cf1d9f7c7d398</string>
</dict>
</plist>